{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "impliedStrict": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "node": true,
        "mocha": true,
        "es6": true,
        "mongo": true,
        "commonjs": true,
        "jquery": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "no-console": "off",
        "indent": [
            "error",
            2,
            { "SwitchCase": 1 }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "prefer-spread": "error",
        "prefer-template": "error"
    }
}
